*{
    padding:0px;
    margin:0px;
    /* position:absolute; */
}
body{

    background-color:black;
}

.left-pannel{
    width:120px;
    background-color:black;
    height:912px;
}
.left-pannel img{
    width:70px;
    height:70px;
   padding:40px 40px 10px 40px;
}
#subscribe{
    border:solid rgba(243, 238, 238, 0.947) 2px;
    background: transparent;
    border-radius:10px;
    padding:0.2em;
    margin:20px 20px 60px 40px;
    width:100px;
    color:rgb(244, 181, 46);
}
#subscribe:hover{
    background-color: rgb(213, 213, 141);
    color:black;
    font-weight:bolder;
}
.left-pannel i{
/* display:grid; */
box-sizing:border-box;
margin-left:20px;
color:white;
display:block;
padding:30px;
}
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.icon7{
    padding:15px;
    letter-spacing: 0.2em;
    color:white;
    display:none;
    z-index:1;
}

.icons:hover{
    transition:ease transform 1s;
    transform:translate(3px);
    /* mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    background:linear-gradient(to right,#0d0d0d,rgba(13, 13, 13, 0.674)30%);
    width:250px;
    }
.icons:hover span{
    display:inline;
    color:rgb(231, 231, 225);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* .icons span{
    transition:transform 0.3s;
}
.icons span:hover{
    color:violet;
    transform:scale(1.8);
} */

.icons span:hover{
    color:rgb(218, 182, 182);
    font-size:19px;
}

.top-img{
    position:absolute;
    margin-top:0;
    margin-left:180px;
    top:0;
    display:flex;
    left:0;
    background-color:rgba(0, 0, 0, 0.885);
    padding:30px;
    width:1450px;
    color:white;
    z-index:-1;
}
.top-img .amazon-ad{
    width:500px;
    height:300px;
    border-radius:5px;
}
.top-img .amazon-add{
    padding:10px 30px;
    width:50px;
    height:50px;
    border-radius:30px;
}
.top-img .ad {
    position:absolute;
    margin-left:90px;
    top:12%;
}
.ad .ad-btn{
    background-color: rgb(209, 163, 14);
    width: fit-content;
    border-radius:5px;
    padding:4px;
}
.ad p{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color:rgb(227, 223, 231);
     padding:5px;
}
.quote{
    margin:30px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quote p{
    padding-bottom:60px;
    font-weight: bolder;
    font-size:30px;
}
.quote button{
    box-sizing: border-box;
    padding:10px;
    font-size:30px;
    border-radius:10px;
    background-color: rgba(52, 52, 52, 0.89);
    color:white;
    border:none;
}

#shopnow:hover{
    transition:ease 0.5s transform;
    transform: scale(1.2);
}

.video{
    position:absolute;
    display:block;
    top:45%;
    left:10.8%;
    z-index:-1;
}
.video .vj{
    width:1510px;
    height:550px;

}
.video .container{
    position:absolute;
    top:10%;
    left:5%;
}
.bb8{
    width:150px;
    height:150px;
}
.newrelease{
color:blue;
font-weight:bolder;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
position: relative;
font-size:20px;
padding:10px;
}
.content{
   margin-top:60px;
}
.content p{
    padding:10px 10px 10px 0;;
    font-size:14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(66, 62, 62);
    text-align:justify;
    width:300px;
}
.content button{
    padding:15px;
    background-color:rgb(41, 39, 39);
    color:white;
    font-size:22px;
    border-radius:5px;
    border:none;
}
.content button:hover{
    /* transform:scale(0.9);
    transition:ease transform  2s; */
    color:black;
    background-color:rgb(140, 140, 138);
}
.new-releases h3{
font-family: Arial, Helvetica, sans-serif;
font-size:30px;
color:white;
padding:20px 0px 0px 20px;
}
.new-releases p{
    position:absolute;
    left:85%;
    top:115%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    color:rgb(72, 71, 71);
    padding:20px;
    font-weight: bold;
    display:none;
}
.newmovies{
    display:flex;
}
.new-releases:hover p{
    color:rgb(178, 172, 172);
    display:flex;
}
.newmovies figure img{
    width:200px;
    height:300px;
    padding:0px 3px 0px 10px;
    
}
.newmovies .movie1{
    padding-left:50px;
}

.newmovies figcaption{
    color:white;
    text-align:center;  
    font-size:25px; 
}
.movie1:hover div{
display:grid;
width:80px;
height:80px;
}

.festive-block h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    color:white;
    padding:40px 0px 0px 20px;
    }
.festive-block p{
        position:absolute;
        left:85%;
        top:165%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size:20px;
        color:rgb(72, 71, 71);
        padding:20px;
        font-weight: bold;
        display:none;
    }
    .festive-block:hover p{
        color:rgb(178, 172, 172);
        display: flex;
    }
.festive-block .block-busters{
    display:flex;
    flex-direction:row;

}
.festive-block .block-busters img{
    width:200px;
    height:300px;
    padding:30px 0px 0px 10px;
}
.festive-block .block-busters .movie1 {
    padding-left:50px;

}
.festive-block .block-busters figcaption {
    font-size: 25px;
    color:white;
    text-align:center;
    padding-top:20px;
}


.details p{
    color:rgb(177, 175, 175);
    font-size: 23px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:10px;
   align-items:center;
}
.details p:hover{
    cursor:pointer;
}

.details div{
    display:inline-block;
    padding:60px;
    margin:60px 60px 0px 60px;
}
/* .details div i{
    color:white;
    width:60px;
    height:60px;
} */
footer{
    margin:0px 60px 60px 60px;
}
footer p{
    color:rgb(177, 175, 175);
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:10px;
    display:inline-block;
    margin-left:60px;
}


